In [1]:
# First, I want to take a look at the data in both "log" and "song" folders to understand the content. 
# So, I will first import Python libraries and display the content of the first line in each folder (Random files selected)

In [2]:
import pandas as pd
import json

In [3]:
df_log = pd.read_json('data/log_data/2018/11/2018-11-01-events.json', lines=True)

In [4]:
df_log.head(1)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39

In [5]:
df_song= pd.read_json('data/song_data/A/A/A/TRAAAAW128F429D538.json', lines=True)

In [6]:
df_song.head(1)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

In [7]:
# Now let's complete the SQL commands in "sql_queries" file to create the tables

%run -i 'sql_queries.py'

#### For the "create_table_queries" list, I moved the variable "songplay_table_create" to the end of the list since this table is the fact table which contains data related to the dimensions tables, so it should be created after we are done with the dimensions tables.

In [8]:
# let's now create the database we will use in the project by running the "create_tables" file.
#create_tables.py

%run -i 'create_tables.py'

In [9]:
# Now let's run the test to validate the column names

%run -i 'test.ipynb'

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _tablenames
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
Returning data to local variable _output
[WARNING] The users table does not have a primary key!
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
Returning data to local variable _output
[WARNING] The artists table does not have a primary key!
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
Returning data to local variable _output
[WARNING] The time table does not have a primary key!
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
Returning data to local variable _output
[WARNING] The songs table does not have a primary key!
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
[WARNING] You may want to add appropriate NOT NULL constraints to the 'songs' table.
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
[WARNING] Type 'numeric' may not be an appropriate data type for column 'latitude' in the 'artists' table
[WARNING] Type 'numeric' may not be an appropriate data type for column 'longitude' in the 'artists' table
[WARNING] You may want to add appropriate NOT NULL constraints to the 'artists' table.
 * postgresql://student:***@127.0.0.1/sparkifydb
7 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
9 rows affected.
Returning data to local variable _output
[WARNING] You may want to add appropriate NOT NULL constraints to the 'time' table.
[WARNING]Some of your insert queries may need an "ON CONFLICT" clause.
         You can either skip conflicting insertions with with "ON CONFLICT DO NOTHING"
         OR use "ON CONFLICT DO UPDATE SET"
         Check this link for more details: https://www.postgresqltutorial.com/postgresql-upsert/